* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Rubik', sans-serif;

    &:focus,
    &:active {
        outline: none;
    }
}

body {
    background-color: #1E1E1E;
    background-image: url('../images/background.png');
    color: #fff;
    height: 100%;
}

html {
    height: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
    background: none;
    border: none;
}

input {
    font-family: inherit;
}

a {
    text-decoration: none;
}

[anim="ripple"] {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        display: block;
        background: var(--ripple-background, white);
        border-radius: 50%;
        pointer-events: none;
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width: calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);
        opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
        transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}