mixin advantages()
    .advantages 
        .advantages__body.container
            h2.advantages__title кому это нужно
                span ?
            .advantages__content 
                .advantages__left
                    img(src="images/advantages.png", alt="")
                .advantages__right
                    ul.advantages__list 
                        li.advantages__li 
                            .advantages__li-circle 
                            | Интернет-магазинам
                        li.advantages__li 
                            .advantages__li-circle 
                            | Продавцам онлайн-курсов, тренингов
                        li.advantages__li 
                            .advantages__li-circle 
                            | Продавцам билетов на ивенты
                        li.advantages__li 
                            .advantages__li-circle 
                            | Инстаграм-магазинам
                        li.advantages__li 
                            .advantages__li-circle 
                            | Продавцам любых
                        li.advantages__li 
                            .advantages__li-circle 
                            | онлайн-услуг и товаровФизическим лицам
                        li.advantages__li 
                            .advantages__li-circle 
                            | ФЛП
                        li.advantages__li 
                            .advantages__li-circle 
                            | Юридическим лицам
                    a(href="#!" anim='ripple').advantages__btn ПОДКЛЮЧИТЬСЯ 
                        
