mixin footer()
    .footer 
        .footer__nav.container 
            .footer__col    
                a(href="index.html#!").footer__logo
                    img(src="images/onepay.svg", alt="")
                a(href="login.html").footer__login Вход
                a(href="login.html").footer__signup Регистрация 
            .footer__cols
                .footer__col
                    ul.footer__list 
                        li.footer__li   
                            a(href="#!").footer__link Подключение 
                        li.footer__li   
                            a(href="#!").footer__link Тарифы 
                        li.footer__li   
                            a(href="#!").footer__link Контакты 
                .footer__col.middle
                    ul.footer__list 
                        li.footer__li   
                            a(href="#!").footer__link Документация 
                        li.footer__li   
                            a(href="#!").footer__link Модули CMS 
                        li.footer__li   
                            a(href="#!").footer__link Требования к сайту 
                .footer__col
                    ul.footer__list 
                        li.footer__li   
                            a(href="#!").footer__link Компания 
                        li.footer__li   
                            a(href="#!").footer__link Вакансии 
                        li.footer__li   
                            a(href="#!").footer__link Партнёрская программа 
            .footer__col.last
                .footer__col-item
                    p.footer__title Служба поддержки
                    p.footer__bold 24/7/365:
                    a(href="https://t.me/shahriyorweb" target="_blank").footer__link.green @телеграм
                .footer__col-item
                    p.footer__title Технические вопросы
                    p.footer__bold 12/7 08:00-20:00:
                    a(href="https://t.me/shahriyorweb" target="_blank").footer__link.green @телеграм
        p.footer__copy Copyright 2021 ©