mixin intro()
    .intro 
        .intro__body.container
            .intro__left 
                h1.intro__title НАЧНИ  ПРИНИМАТЬ <br>ПЛАТЕЖИ НА САЙТЕ
                img(src="images/linear.png", alt="").linear
                p.intro__subtitle ЗА 15 МИНУТ
                ul.intro__list 
                    li.intro__li 
                        img(src="images/check.svg", alt="")
                        | Готовые модули для 18 CMS
                    li.intro__li 
                        img(src="images/check.svg", alt="")
                        | Прием платежей без интеграции с сайтом
                    li.intro__li 
                        img(src="images/check.svg", alt="")
                        | Visa/Mastercard, терминалы, электронные валюты
                a(href="signup.html" anim='ripple').intro__btn регистрация 
            .intro__right
                img(src="images/clocks.png", alt="") 
