mixin minute()
    .minute#connect 
        .minute__body.container 
            h2.minute__title ПОДКЛЮЧЕНИЕ
                span 3А 15 МИНУТ
            .minute__content 
                .minute__left
                    ul.minute__list 
                        li.minute__li
                            .minute__circle 
                            | Зарегистрируйтесь
                        li.minute__li
                            .minute__circle 
                            | Создайте первую кассу и добавьте магазин
                        li.minute__li
                            .minute__circle 
                            | Добавьте логотип и выберите нужные платежные инструменты
                        li.minute__li
                            .minute__circle 
                            | Напишите нам для активации магазина *
                        li.minute__li
                            .minute__circle 
                            | После активации вы сразу сможете принимать платежи через кабинет
                    .minute__item
                        span.minute__item-span !
                        p Для интеграции с сайтом, вам может понадобиться немного больше времени и помощь разработчика вашего сайта.
                    .minute__item
                        span.minute__item-span *
                        p Юридическим лицам также понадобится подписания договора.
                    a(href="#!" anim='ripple').minute__btn ПОДКЛЮЧИТЬСЯ 
                .minute__right
                    img(src="images/minute.png", alt="" anim='ripple')