doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="styles/index.css")
    body 
        .login
            .login__body.big
                img(src="images/fail.png", alt="").status__img
                p.status__p Транзакция выполнена <br><span class="fail">неудачно !</span>
        .login__footer 
            img(src="images/onepay.svg", alt="")
            p Copyright 2021 ©               
                        

        script(src="scripts/index.js") 